# old sources
src/old/

# generated docs and builds
doc/
build/

# npm packages
node_modules/
package-lock.json

# symlink to original source
decker-source

# code coverage reports
luacov.stats.out
luacov.report.out
lint.sh

# mergetool backups
src/*.orig
tests/*.orig
